{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}


    </div>

    <div class="mb-3">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
    </div>



    <button type="submit" class="btn btn-success">Post !</button>
    <a href="{{ path('app_post') }}" class="btn btn-warning">Retour</a>

    {{ form_end(form) }}
{% endblock %}




